.foot {
  padding-top: 1px solid lightgray;
  padding: 20px;
  background-color: #f7f7f7;
  bottom: 0;
  text-align: center;
  display: flex;
}
.foot > p {
  padding: 5px;
  font-size: 14px;
}
.foot__left {
  flex: 2;
}
.foot__right {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  /* flex-direction: row; */
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
}
.foot__rightone  > span {
  padding-left: 5px;
  padding: 5px;
  text-decoration: underline;
}
.foot__righttwo{
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
