.footers {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* height: 1700px; */
}
.footer_container {
  width: 25%;
  padding: 30px;
}
p {
  padding: 10px;
  text-align: left;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  font-variant: inherit !important;
  text-decoration: none !important;
  color: rgb(34, 34, 34) !important;
  font-size: 14px !important;
  line-height: 18px !important;
  outline: none !important;
}
h3 {
  padding: 10px;
  color: rgb(34, 34, 34) !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 800 !important;
}
